@import "src/sassStyles/mixins";

.signin {
	display: flex;
	justify-content: center;
	position: relative;

	&_container {
		background: radial-gradient(
				152.12% 76.27% at -14.67% 88.24%,
				rgba(244, 66, 0, 0.3) 0%,
				rgba(244, 66, 0, 0) 100%
			),
			#fff;
		height: 812px;
		max-width: 375px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		position: relative;
		overflow: hidden;
	}

	&_btn-back {
        @include size(32px, 32px);
		z-index: 1;
		cursor: pointer;
		position: absolute;
		border: none;
		outline: none;
		top: 62px;
		left: 20px;
		background: url(../../images/arrow-back.svg) transparent no-repeat;
	}

	&_vector-1 {
        @include size(274.48px, 137.44px);
		position: absolute;
		top: 270px;
		left: 0;
		background-image: url(../../images/vector-signin-1.svg);
		background-repeat: no-repeat;
	}

	&_vector-2 {
        @include size(90px, 90px);
		position: absolute;
		top: 70px;
		left: 168px;
		background-image: url(../../images/vector-signin-2.svg);
		background-repeat: no-repeat;
	}

	&_semicircle {
        @include size(159.862px, 159.862px);
		z-index: 1;
		position: absolute;
		top: 48.19px;
		left: 58.19px;
		background-image: url(../../images/semicircle-signin.png);
		background-repeat: no-repeat;
	}

	&_spiral {
        @include size(222.412px, 222.412px);
		position: absolute;
		top: 137px;
		left: 197px;
		background-image: url(../../images/spiral-signin.png);
		background-repeat: no-repeat;
	}

	&_form {
		z-index: 10;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 40px 36px 33px;
		background: #ffffff;
		border-radius: 30px 30px 0 0;
		width: 100%;

		&_title {
			font-style: normal;
			font-weight: 700;
			font-size: 24px;
			line-height: 130%;
			color: #000000;
			margin-bottom: 20px;
		}

		&_span {
			margin-top: 20px;
			margin-bottom: 34px;
			color: #141513;
			font-size: 14px;
		}

		&_link {
			color: #3fe911;
			font-size: 14px;
			text-decoration-line: underline;
		}
	}
}
