@import 'src/sassStyles/variables';

.input-search {
	box-sizing: border-box;
	min-width: 285px;
	margin: 0;
	padding: 8px 12px 8px 36px;
	border-radius: 20px;
	border: 1px solid $color_background_disabled;
	background: $color_white url(../../images/icon-search.svg) no-repeat scroll
		center;
	background-position-x: calc(0% + 12px);
}
