@import "src/sassStyles/variables";
@import "src/sassStyles/mixins";

.header {
    @include size(100%, 64px);
	position: relative;
	box-sizing: border-box;
	padding: 12px 20px;
	display: flex;
	background-color: $color_white;
	border-bottom: 1px solid $color_background_disabled;

	&__menu {
        @include size(40px, 40px);
		box-sizing: border-box;
		margin-right: 12px;
		border-radius: 50%;
		border: 1px solid $color_background_disabled;
		background: url(../../images/icon-burger.svg) no-repeat;
		background-position: center;
		cursor: pointer;
	}
}
