@import "src/sassStyles/variables";

.header {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 64px;
	padding: 12px 20px;
	display: flex;
	background-color: $color_white;
	border-bottom: 1px solid $color_background_disabled;

	&__menu {
		box-sizing: border-box;
		width: 40px;
		height: 40px;
		margin-right: 12px;
		border-radius: 50%;
		border: 1px solid $color_background_disabled;
		background: url(../../images/icon-burger.svg) no-repeat;
		background-position: center;
		cursor: pointer;
	}
}
