/*
This partial contains repeatable property values, such as brand colors and sizes.
 */

/* Colors */
$color_black: #000000;
$color_white: #ffffff;
$color_buttons_background_hover: #c3f402;
$color_buttons_background_active: #3fe911;
$color_background_disabled: #cccdc2;
$color_main_font: #141513;
$color_link: #aeafa4;
$color_popup_link_hover: #fdffe2;
$color_error: #e90000;
$color_popup_background: #fafafa;
